@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --f1: Verdana, Geneva, Tahoma, sans-serif;
    --f2: 'Passion One', cursive;
    --f3: 'Sriracha', cursive;
}
* {
    margin: 0px;
    font-family: var(--f3);
    text-indent: 10px;
}
header {
    background-color: black;
    text-align: center;
}
header > h1 {
    color: white;
    font-family: var(--f2);
    font-size: 10vw;
    
}
header > nav {
    color: white;
    font-family: var(--f1);
}
a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--f1);
}
article {
    max-width: 45vw;
}
section {
    padding: 5% 2%;
    
}


article.CF {
    background-color: rgba(0, 0, 0, 0.507);    
    display: block;
}
article.CF > p {
    color: white;
}
Section#Flor {
    background-image: url('Img_font/flor.png');
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px black;
} 
Section#Livro {
    background-image: url('Img_font/Livro.png');
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px black;
}

p {
    font-size: 3.8vw;
}
footer {
    background-color: black;
    text-align: center;
    padding: 1px;
}
footer > p, footer > a {
    font-size:1vw;
    color: white;
    font-family: var(--f1);
}


