@charset "UTF-8";

h2::after {
    content:  'Modo retrato' ;
}

body, html {
    background-image: url("../imgs/cev-portrait.jpg");
    
    background-repeat: no-repeat;
    
    background-position:center bottom;
    background-color: #233eff;
    
}