@charset "UTF-8";

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
table {
    margin: auto;
    border-collapse: collapse; 
    width: 400px;
    height: 400px;
}
td, th {
    border: 1px solid black;
    vertical-align: top;
    padding: 3px;
}
tbody > tr:nth-child(even) {
    background-color: lightgray;
}
.numero {
    text-align: right;
}
thead, tfoot {
    background-color: rgb(78, 78, 78);
    color: white;
}
thead > tr > th {
    position: sticky;
    top: -1px;
    background-color:rgb(78, 78, 78) ;
}
caption {
    font-weight:500;
    background-color: lightgray;
    font-size: 1.2em;
}
main {
    text-align: left;
}